{% from "partials/icons/jd-logo.njk" import icon as jdLogo %}

<header class="mb-8 lg:mb-16 xl:mb-32 text-center md:text-left">
    <a class="inline-block no-decoration" href="/" aria-label="{{ site.siteName }} — Go to homepage">
        {{ jdLogo("w-32 h-32 text-brand") }}
    </a>
</header>
